.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Inter', 'Segoe UI', 'system-ui', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  --primary: #4CAF50;
  --secondary: #F9A825;
  --background: #F5F5F5;
  --text: #212121;
  --subtext: #616161;
  --favourite: #FF5252;
  --judgement: #FFD600;

  background-color: var(--background);
}

#app {
  margin: 0px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: var(--primary);
}

body {
  min-height: 100vh;
  font-size: 1rem;
  margin: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.container-title {
    justify-content: center;
    text-align: center;
}